.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{border:1px solid #01DFA5;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td
{border:1px solid #01DFA5;
}
#ui:focus
{border-bottom:2px solid #01DFA5;
}.doc
{
color:#01DFA5;
}
#ou
{background-color:#01DFA5;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a
{color:#01DFA5;
}

.option .okk
{
border:2px solid #01DFA5;
}
.glyphicon-cog
{
color:#01DFA5;
}
.footer
{background-color:#01DFA5;
}
.glyphicon-triangle-right
{color:#01DFA5;
}