
.navbar-nav
{margin-right:10px;
font-size:15px;
font-weight:bold;
margin-top:10px;

}
.glyphicon-search::before 
{margin-left:150px;
color:black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{background-color:#fbb117;
color:white;
height:30px;
width:100px;
text-align:center;
padding-bottom:30px;

}
.navbar
{height:80px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{font-weight:bold;
margin-top:10px;
margin-left:-10px;
font-size:20px;
}
img
{margin-top:10px;
}
.panel-danger
{background-color:#fbb117;
height:50px;
}
.img-responsive
{position:relative;
}

.img-circle
{margin-top:-450px;
margin-left:550px;
position:absolute;
}
#x
{color:white;
margin-top:-300px;
margin-left:170px;
position:absolute;
font-size:90px;
}
.panel
{height:400px;

margin-top:10px;
background-color:#e9e6e6;
}
.btn-default
{background-color:#fbb117;
color:white;
}
h3
{color:black;
font-weight:bold;
}
#a
{font-size:20px;
color:817b7b;
}
#s
{font-size:50px;
}
.cv
{width:300px;
height:30px;
background-color:#e9e6e6;
margin-left:50px;
padding:20px;
color:black;
font-style:italic;
font-weight:bold;
}
input[type='text']
{background-color:#e9e6e6;
color:white;
}
#Op
{background-color:#fbb117;
color:white;
width:250px;
font-weight:bold;
font-style:italic;
height:40px;
}
.glyphicon-menu-right
{font-size:26px;
}
.h
{background-color:#e9e6e6;
margin-left:70px;
height:550px;
margin-top:50px;
}
.hg
{background-image:url("s/images/about.jpg");
}
.sd
{color:white;
margin-left:50px;
}
.sd2
{color:white;
margin-left:20px;
text-align:center;
}
.q
{background-color:#e9e6e6;
padding:12px;
}
.vv
{color:white;
background-color:#fbb117;
width:100px;
height:80px;
margin-top:-10px;
}
.pp
{color:black;
font-size:15px;
margin-top:20px;
font-weight:bold;
}
.footer
{width:100%;
height:350px;
background-color:#e9e6e6
}
.hd
{
line-height:40px;
}
.hd  li a
{color:817b7b;

}
.hd li
{list-style:none;
}