body
{background-image:url("../v.jpg");
background-repeat:repeat-x;
width:100%;
height:100%;
background-size:100% 100%;
position:relative;

}

@font-face
{font-family:'athar';
src:url('../alit-design_rollete-qaku/RolleteQaku-Regular.ttf');
}
.one
{width:300px;
height:10px;
background-color:rgba(0,0,0,0.1);
position:absolute;
margin-left:500px;
margin-top:-10px;
}
.gh
{background-color:#62c8f8;
color:white;
font-family:athar;
margin-left:80px;
}
.f
{width:200px;
height:40px;
margin-top:20px;
border-radius:10px 10px 10px 10px;
font-family:athar;
font-size:30px;
}
.gh2
{background-color:#3b5998;
color:white;
font-family:athar;
margin-left:70px;
}
.f2
{margin-left:20px;
font-family:athar;
word-spacing:10px;
color:white;
}
.h
{margin-left:80px;
margin-top:-60px;
}
.h2
{margin-left:150px;
margin-top:-60px;
}
.h3
{margin-left:60px;
}
.d
{margin-left:50px;
}