.navbar-nav
{color:white;
}


.navbar
{height:70px;
}
#car
{margin-top:-100px;
}
#myCarousel
{position:relative;

}




.navbar-form .form-control
{margin-top:6px;
}
.input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control

{margin-left:120px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
{margin-left:120px;
width:70px;
height:47px;
margin-top:6px;
}
.glyphicon-search
{font-size:30px;
}

 
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img
{height:800px;
}
.form-control
{margin-top:80px;
}



#oop{position:relative;
z-index:1;
margin-top:0px;
}
#face2
{margin-top:-1px;
}
#xc
{margin-right:10px;
margin-top:10px;
}
#xc2
{margin-right:-100px;
}



.carousel-control.left
{background-color:linear-gradient(to right,white,white);
}
.modal
{margin-top:200px;
}
#face
{height:300px;
}
#ui
{
border:none;
height:100px;
width:1060px;
font-size:70px;
font-family:athar;
}
.glyphicon-user
{font-size:30px;

}
